@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-base-mob: 13px;
    --font-base-tbl: 13px;
    --font-base-lpt: 18px;
    --year: '2025';
}

html {
    color-scheme: only light;
    font-family: 'Poppins';
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
}

/*******************************header*******************************/
.header {
    display: flex;
    max-width: 100%;
    margin: 33px 30px 57px 31px;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.header__wrapper-logo {
    display: flex;
    align-items: center;
}

.header__wrapper-burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper-burger_button {
    border: none;
    background: none;
}

.header__wrapper-burger_button:hover {
    cursor: pointer;
}

.header__wrapper-burger_menu {
    display: none;
}

.default-button {
    padding: 5px 5px 5px 15px;
    border: none;
    text-align: left;
    background-color: #6C5FBC;
    font-family: 'Poppins';
    font-size: var(--font-base-mob);
    color: #F9F9F9;
}

.header__navigation {
    display: none;
}

.header__buttons {
    display: none;
}

.header__wrapper-burger:hover {
    cursor: pointer;
    background-color: #6C5FBC;

    .header__wrapper-burger_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 50;
        background-color: #6C5FBC;
    }

    .navigation__list {
        display: flex;
        flex-direction: column;
        width: 150px;
        row-gap: 5px;
    }

    .list__item_link {
        display: flex;
        padding: 5px 5px 5px 15px;
        font-size: var(--font-base-mob);
        color: #F9F9F9;
    }

    .navigation__list_item-active .list__item_link {
        color: #282828;
        text-shadow: 1px 0 0 #282828;
    }

    .button-login {
        border-top: 2px solid #282828;
    }
}

.navigation__list_item:hover,
.navigation__list_item-active.a:hover {
    cursor: pointer;
    background-color: #282828;

    .list__item_link {
        color: #ffffff;
        text-shadow: 1px 0 0 #F9F9F9;
    }
}

.button-login:hover,
.button-signup:hover {
    cursor: pointer;
    background-color: #282828;
    text-shadow: 1px 0 0 #F9F9F9;
}

/*******************************section-footer*******************************/
.container-background-footer {
    max-width: 100%;
    background-color: #EFEFEF;
}

.section-footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 55px 30px 36px 30px;
}

.section-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #808080;
}

.section-footer__top-part {
    display: flex;
    flex-direction: column;
}

.section-footer__top-part_wrapper {
    display: flex;
    margin-bottom: 53px;
}

.top-part__navigation_list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.list_itemfoot_link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #606060;
}

.list_itemfoot_link:hover {
    cursor: pointer;
    background-color: #282828;
    color: #F9F9F9;
    text-shadow: 1px 0 0 #F9F9F9;
}

.section-footer__lower-part {
    display: flex;
}

.section-footer__lower-part_copyright {
    display: none;
}

.section-footer__lower-part_icons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
}

.button__lower-part_icons {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: none;
}

.button__lower-part_icons:hover {
    cursor: pointer;
    background: #ffffff;
}

.section-footer__copyright-mob {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #70798B;
}

.date-year::before {
    content: var(--year);
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    /*******************************section-footer*******************************/
    .section-footer__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }

    .section-footer__top-part {
        align-items: center;
        justify-content: center;
    }

    .section-footer__top-part_wrapper {
        margin-bottom: 30px;
    }

    .top-part__navigation_list {
        align-items: center;
    }
}

@media screen and (min-width: 750px) {

    /*******************************header*******************************/
    .header {
        align-items: center;
        margin: 34px 68px 35px 68px;
        padding-bottom: 18px;
    }

    .header__wrapper-logo {
        flex-grow: 1;
    }

    .header__wrapper-burger {
        display: none;
    }

    .header__navigation {
        display: flex;
        flex-grow: 1;
    }

    .navigation__list {
        display: flex;
        align-items: center;
        column-gap: 38px;
    }

    .list__item_link {
        font-size: var(--font-base-tbl);
        color: #606060;
    }

    .navigation__list_item-active .list__item_link {
        font-weight: 600;
        color: #6C5FBC;
    }

    .navigation__list_item:hover {
        .list__item_link {
            color: #F9F9F9;
        }
    }

    .navigation__list_item-active:hover,
    .navigation__list_item-active.a:hover {
        background: none;

        .list__item_link {
            color: #6C5FBC;
        }
    }

    .header__buttons {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        column-gap: 6px;
    }

    .default-button {
        padding: 12px 19px;
        border-radius: 12px;
        background-color: #F9F9F9;
        font-size: var(--font-base-tbl);
        font-weight: 700;
        line-height: 19px;
    }

    .button-login {
        color: #606060;
    }

    .button-login:hover {
        color: #F9F9F9;
    }

    .button-signup {
        background-color: #6C5FBC;
        color: #F9F9F9;
    }

    .button-signup:hover {
        background-color: #524894;
    }

    /*******************************section-footer*******************************/
    .section-footer {
        padding: 55px 68px 36px 68px;
    }

    .section-footer__wrapper {
        flex-direction: column;
        padding-bottom: 0;
        border-bottom: none;
    }

    .section-footer__top-part {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #808080;
    }

    .section-footer__top-part_wrapper {
        margin-bottom: 0;
    }

    .top-part__wrapper_logo .social-icon {
        width: 108px;
        height: 41px;
    }

    .top-part__navigation_list {
        flex-direction: row;
        column-gap: 50px;
    }

    .list_itemfoot_link {
        text-transform: capitalize;
        font-size: 13px;
        color: #999999;
    }

    .section-footer__lower-part {
        align-items: center;
        justify-content: space-between;
    }

    .section-footer__lower-part_copyright {
        display: block;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: #999999;
    }

    .section-footer__lower-part_icons {
        column-gap: 38px;
    }

    .section-footer__copyright-mob {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    /*******************************header*******************************/
    .header {
        padding-bottom: 18px;
        margin: 34px 68px 57px 68px;
    }

    .wrapper-logo__link .social-icon {
        width: 80px;
        height: 31px;
    }

    .list__item_link {
        font-size: var(--font-base-tbl);
    }

    .button-login,
    .button-signup {
        font-size: var(--font-base-tbl);
    }

    /*******************************section-footer*******************************/
    .section-footer {
        padding: 68px 64px 57px 73px;
    }
}

@media screen and (min-width: 1440px) {

    /*******************************header*******************************/
    .header {
        padding-bottom: 25px;
        margin: 48px 0 80px 0;
    }

    .wrapper-logo__link .social-icon {
        width: 112px;
        height: 43px;
    }

    .list__item_link,
    .button-login,
    .button-signup {
        font-size: var(--font-base-lpt);
    }

    /*******************************section-footer*******************************/
    .section-footer {
        padding: 96px 0px 81px 0px;
    }

    .section-footer__top-part {
        margin-bottom: 57px;
        padding-bottom: 29px;
    }

    .top-part__wrapper_logo .social-icon {
        width: 151px;
        height: 57px;
    }

    .top-part__navigation_list {
        column-gap: 70px;
    }

    .list_itemfoot_link {
        font-size: var(--font-base-lpt);
        line-height: 27px;
    }

    .section-footer__lower-part_copyright {
        font-size: 17px;
        line-height: 25px;
    }

    .section-footer__lower-part_icons {
        column-gap: 54px;
    }

    .social-icon-instagram {
        width: 22px;
        height: 22px;
    }

    .social-icon-linkedin {
        width: 22px;
        height: 21px;
    }

    .social-icon-facebook {
        width: 10px;
        height: 22px;
    }

    .social-icon-twitter {
        width: 22px;
        height: 18px;
    }
}