@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-base-mob: 13px;
    --font-base-tbl: 13px;
    --font-base-lpt: 18px;
}

/*******************************section-about*******************************/
.section-about {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 21px 75px 21px;
    align-items: center;
    justify-content: center;
}

.section-about__toppart {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.section-about__toppart_info {
    display: flex;
    margin-bottom: 5px;
    column-gap: 12px;
}

.toppart__info_line {
    position: relative;
    width: 33px;
}

.toppart__info_line::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #201F1F;
}

.toppart__info_text {
    font-size: 9px;
    font-weight: 600;
    line-height: 120%;
    color: #201F1F;
}

.section-about__toppart_title {
    max-width: 350px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    line-height: 120%;
    color: #201F1F;
}

.toppart__title_hiddenword {
    display: none;
}

.toppart__title_mainword {
    color: #6C5FBC;
}

.section-about__toppart_text {
    max-width: 310px;
    margin-bottom: 41px;
    text-align: center;
    font-family: 'Inter';
    font-size: 11px;
    line-height: 17px;
    color: #676767;
}

.toppart__text_highlightword {
    font-weight: 500;
    color: #5C4EAE;
}

.section-about__toppart_buttons {
    display: flex;
    margin-bottom: 26px;
    column-gap: 14px;
}

.button-getstart,
.button-gopro {
    padding: 14px 25px 13px 24px;
    border-radius: 10px;
}

.button-gopro {
    background-color: #F9F9F9;
    border: 1px solid #6C5FBC;
    color: #6C5FBC;
}

.button-getstart:hover {
    cursor: pointer;
    background-color: #524894;
    text-shadow: 1px 0 0 #F9F9F9;
}

.button-gopro:hover {
    cursor: pointer;
    background-color: #282828;
    color: #F9F9F9;
    text-shadow: 1px 0 0 #F9F9F9;
}

.section-about__toppart_trustpilot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 62px;
    column-gap: 16px;
}

.toppart__trustpilot_leftpart {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.trustpilot__leftpart_wrapper {
    display: flex;
    align-items: center;
}

.trustpilot__leftpart_wrapper .social-icon {
    width: 24px;
    height: 23px;
}

.trustpilot__leftpart_title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.toppart__trustpilot_rightpart {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.toppart__trustpilot_rightpart .social-icon {
    width: 13px;
    height: 13px;
}

.trustpilot__rightpart_wrapper {
    display: flex;
    align-items: flex-end;
    column-gap: 3px;
}

.trustpilot__rightpart_title {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 500;
    color: #808080;
}

.section-about__lowerpart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-about__lowerpart_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 288px;
    height: 280px;
}

.lowerpart__wrapper_icon-lines-head {
    position: absolute;
    top: -13px;
    right: -20px;
}

.lowerpart__wrapper_icon-lines-head .social-icon {
    width: 20px;
    height: 13px;
}

.lowerpart__wrapper_image {
    display: flex;
    width: 204px;
    position: relative;
}

.wrapper__image_food {
    width: 100%;
    z-index: 20;
}

.wrapper__image_ellipse::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 12px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, #6C5FBC 0%, #5144A0 100%);
    z-index: 10;
}

.lowerpart__wrapper_chickenhell {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 156px;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: #F9F9F9;
    box-shadow: -5px 6px 10px 0 #00000085;
    z-index: 30;
}

.wrapper__chickenhell_image {
    display: flex;
    width: 35px;
}

.chickenhell_image {
    max-width: 100%;
    object-fit: contain;
}

.wrapper__chickenhell_main {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.chickenhell__main_title {
    font-size: 8px;
    font-weight: 600;
    line-height: 140%;
    color: #000000;
}

.chickenhell__main_text {
    font-size: 5px;
    font-weight: 500;
    line-height: 140%;
    color: #000000;
}

.wrapper__chickenhell_time {
    display: flex;
    align-self: flex-end;
}

.chickenhell__time_text {
    font-size: 5px;
    font-weight: 500;
    line-height: 140%;
    color: #808080;
}

.lowerpart__wrapper_icon-arrow-head {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 5;
}

.lowerpart__wrapper_icon-arrow-head .social-icon {
    width: 48px;
}

.lowerpart__wrapper_diagram {
    position: absolute;
    left: 0;
    bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    padding: 6px 0;
    border-radius: 8px;
    background-color: #F9F9F9;
    box-shadow: 6px 8px 13px #00000085;
    z-index: 30;
}

.wrapper__diagram_period {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
    column-gap: 3.5px;
}

.diagram__period_item {
    font-size: 3.5px;
    font-weight: 400;
    color: #828282;
}

.diagram__period_item-active {
    padding: 2px 5px;
    border-radius: 7px;
    background-color: #6C5FBC;
    color: #F9F9F9;
}

.wrapper__diagram_image {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}

.wrapper__diagram_image .social-icon {
    width: 100px;
    height: 47px;
}

.diagram__image_lines::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 24px;
    border-top: 0.5px solid #6b5fbc10;
    border-bottom: 0.5px solid #6b5fbc10;
}

.diagram__image_lines::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    border-top: 0.5px solid #6b5fbc10;
}

.wrapper__diagram_type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    column-gap: 10px;
}

.diagram__type_item {
    font-size: 3px;
    font-weight: 400;
    color: #828282;
}

.diagram__type_item-active {
    padding: 3px 4px;
    border-radius: 8px;
    background-color: #E7E7E7;
    font-weight: 700;
    color: #151515;
}

.lowerpart__wrapper_icon-lines-foot {
    position: absolute;
    bottom: -10px;
    left: -12px;
}

.lowerpart__wrapper_icon-lines-foot .social-icon {
    width: 19px;
    height: 17px;
}

/*******************************section-statistics*******************************/
.section-statistics {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 67px;
    padding-top: 99px;
    padding-bottom: 83px;
    row-gap: 120px;
    background-color: #6C5FBC;
}

.section-statistics__icon-line1-mob,
.section-statistics__icon-line2-mob {
    position: absolute;
    top: 0;
    left: 0;
}

.section-statistics__icon-line3-mob,
.section-statistics__icon-line4-mob {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-statistics__icon-line1-tbl,
.section-statistics__icon-line2-tbl {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.section-statistics__icon-line3-tbl,
.section-statistics__icon-line4-tbl {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.section-statistics__icon-line1-lpt,
.section-statistics__icon-line2-lpt {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.section-statistics__icon-line3-lpt,
.section-statistics__icon-line4-lpt {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.section-statistics__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-statistics__card_title {
    margin-bottom: 11px;
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
    color: #ffffff;
}

.section-statistics__card_info {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #C5BFED;
}

.section-statistics__card_lines {
    position: relative;
}

.section-statistics__card_lines::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C5C5C5;
}

.section-statistics__card_lines::after {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C5C5C5;
}

/*******************************section-quality*******************************/
.section-quality {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 66px;
    border-bottom: 1px solid #808080;
}

.section-quality__toppart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px 7px 16px;
    position: relative;
}

.section-quality__toppart_title {
    max-width: 310px;
    margin-bottom: 37px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #000000;
}

.section-quality__toppart_list {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 35px;
    row-gap: 16px;
}

.toppart__list_item {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #676767;
}

.toppart__list_item::before {
    content: '● ';
}

.button-download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 101px;
    column-gap: 10px;
    padding: 13px 17px;
    border-radius: 10px;
}

.button-download:hover {
    cursor: pointer;
    background-color: #524894;
    text-shadow: 1px 0 0 #F9F9F9;

    .social-icon {
        width: 19px;
        height: 19px;
    }
}

.section-quality__toppart_icon-arrow-quality {
    position: absolute;
    bottom: 10px;
    left: 60px;

}

.section-quality__lowerpart_wrapper {
    display: flex;
    align-items: center;
    width: 171px;
    position: relative;
}

.lowerpart__wrapper_imagemobile {
    width: 100%;
}

.lowerpart__wrapper_icon-lines-quality {
    position: absolute;
    top: -10px;
    right: -41px;
}

/*******************************section-restaurant*******************************/
.section-restaurant {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 84px 30px 66px 33px;
    border-bottom: 1px solid #808080;
}

.section-restaurant__title {
    max-width: 260px;
    margin-bottom: 59px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    color: #323142;
}

.section-restaurant__title_mainword {
    color: #6C5FBC;
}

.section-restaurant__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 61px;
    row-gap: 40px;
}

.section-restaurant__list_item {
    max-width: 315px;
    box-shadow: 20px 20px 10px #00000015;
}

.section-restaurant__list_item:hover {
    .item__rest-link_info {
        background-color: rgb(237, 237, 237);
    }
}

.item__rest-link_wrapper {
    display: flex;
    max-width: 100%;
}

.rest-link__wrapper_image {
    width: 100%;
    object-fit: contain;
}

.item__rest-link_info {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 9px 21px 13px 26px;
    column-gap: 54px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgb(255, 255, 255);
}

.rest-link__info_leftpart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info__leftpart_label {
    margin-bottom: 1px;
    padding: 2px 7px;
    border-radius: 4.5px;
    background-color: #F7EDD0;
    font-size: 10px;
    font-weight: 400;
    color: #DAA31A;
}

.info__leftpart_label-trending {
    background-color: #F7C5BA;
    color: #FB471D;
}

.info__leftpart_title {
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    color: #000000;
}

.info__leftpart_rating {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.leftpart__rating_time {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #808080;
}

.leftpart__rating_wrapper {
    display: flex;
    width: 20px;
    height: 20px;
}

.leftpart__rating_mark {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #808080;
}

.rest-link__info_rightpart {
    display: flex;
    align-items: flex-end;
}

.info__rightpart_wrapper {
    display: flex;
    width: 32px;
    height: 32px;
}

.viewall {
    display: flex;
    align-self: flex-end;
}

.viewall:hover {
    background-color: #ffffff;
}

/*******************************section-dishes*******************************/
.section-dishes {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 85px 30px 66px 30px;
    border-bottom: 1px solid #808080;
}

.section-dishes__title {
    max-width: 130px;
    margin-bottom: 61px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    color: #323142;
}

.section-dishes__title_mainword {
    color: #6C5FBC;
}

.section-dishes__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    column-gap: 20px;
    row-gap: 42px;
}

.section-dishes__list_item {
    max-width: 147px;
}

.list__item_dish-link:hover {
    background-color: rgb(237, 237, 237);
}

.list__item_dish-link {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 0 19px 0;
    border-radius: 23px;
    background-color: #ffffff;
}

.item__dish-link_button-heart {
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: none;
}

.social-icon__icon-heart {
    fill: #323142;
}

.item__dish-link_button-heart:hover {
    cursor: pointer;
    background: #524894;

    .social-icon__icon-heart {
        fill: #ffffff;
    }
}

.item__dish-link_wrapper {
    display: flex;
    margin-top: 5px;
    max-width: 100%;
}

.dish-link__wrapper_image {
    width: 100%;
    object-fit: contain;
}

.item__dish-link_info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    padding-left: 15px;
}

.dish-link__info_label {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    padding: 2px 5px;
    border-radius: 3.5px;
    background-color: #F7EDD0;
    font-size: 8px;
    font-weight: 400;
    color: #DAA31A;
}

.info__label_trend {
    background-color: #F7C5BA;
    color: #FB471D;
}

.info__label_supreme {
    background-color: #33AC6420;
    color: #309D5B;
}

.dish-link__info_title {
    font-size: 15px;
    font-weight: 600;
    line-height: 24.5px;
    color: #000000;
}

.dish-link__info_rating {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    column-gap: 4px;
}

.info__rating_time,
.leftpart__rating_mark {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #808080;
}

.dish-link__info_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 36px;
}

.info__price_usd {
    display: flex;
    align-items: flex-end;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.price__usd_cents {
    font-size: 12px;
    color: #808080;
}

.info__price_button-icon-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
}

.info__price_button-icon-plus:hover {
    .social-icon__icon-plus {
        cursor: pointer;
        stroke: rgb(255, 255, 255);
    }
}

/*******************************section-purchases*******************************/
.section-purchases {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 85px 30px 100px 30px;
    border-bottom: 1px solid #808080;
}

.section-purchases__toppart {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 100px;
    align-self: center;
    justify-content: center;
    position: relative;
}

.section-purchases__toppart_title {
    max-width: 300px;
    margin-bottom: 27px;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    color: #323142;
}

.section-purchases__toppart_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.toppart__wrapper_card {
    display: flex;
    max-width: 228px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 11px;
    border-radius: 8px;
    background-color: #ffffff;
}

.toppart__wrapper_card:hover {
    background-color: rgb(237, 237, 237);
}

.wrapper__card_main {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.wrapper__card_image {
    display: flex;
    width: 50px;
}

.card__image_item {
    width: 100%;
    object-fit: contain;
}

.wrapper__card_info {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.card__info_title {
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
    color: #000000;
}

.card__info_text {
    font-size: 8px;
    font-weight: 500;
    line-height: 140%;
    color: #000000;
}

.card__info_text-red {
    color: #ff0000;
}

.wrapper__card_time {
    display: flex;
    align-self: flex-end;
}

.card__time_text {
    font-size: 9px;
    font-weight: 500;
    line-height: 140%;
    color: #808080;
}

.section-purchases__toppart_icon-arrow {
    position: absolute;
    top: 250px;
    right: 0;
}

.section-purchases__lowerpart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 22px 27px 22px;
    border-radius: 15px;
    border: 1px solid #80808020;
    background-color: #ffffff;
    box-shadow: 0 10px 20px #00000085;
}

.section-purchases__lowerpart_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 22px;
}

.lowerpart__head_title {
    font-size: 17px;
    font-weight: 700;
    line-height: 135%;
    color: #000000;
}

.lowerpart__head_sorting {
    padding: 7px 10px;
    border-radius: 7.5px;
    border: 1px solid #ffffff;
    background-color: #80808020;
}

.lowerpart__head_sorting:hover {
    cursor: pointer;
}

.sorting-menu {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: #000000;
}

.sorting-menu:hover {
    cursor: pointer;
}

.sorting-menu-item {
    background-color: #808080;
}

.section-purchases__lowerpart_cards {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.cards__item_link {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 11px;
    border: 1px solid #80808020;
}

.cards__item_link:hover {
    background-color: rgb(237, 237, 237);
}

.item__link_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link__head_leftpart {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.head__leftpart_info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.leftpart__info_title {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: #000000;
}

.leftpart__info_text {
    font-size: 9px;
    font-weight: 400;
    line-height: 150%;
    color: #808080;
}

.link__head_rightpart {
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    color: #000000;
}

/*******************************section-customer*******************************/
.section-customer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 90px 30px 79px 30px;
}

.section-customer__title {
    max-width: 160px;
    margin-bottom: 55px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    color: #323142;
}

.section-customer__title_mainword {
    color: #6C5FBC;
}

.section-customer__review {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    column-gap: 46px;
    overflow-x: scroll;
    scrollbar-width: 5px;
    scrollbar-color: #6C5FBC #6C5FBC20;
}

.section-customer__review_card {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 23px 26px;
    border-radius: 12px;
    background: #ffffff;
}

.review__card_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22.5px;
}

.card__head_leftpart {
    display: flex;
    align-items: center;
    column-gap: 12.5px;
}

.card__head_wrapper {
    display: flex;
    width: 42.5px;
}

.head__wrapper_image {
    width: 100%;
}

.card__head_title {
    display: flex;
    flex-direction: column;
}

.card__head_name {
    font-size: 12.5px;
    font-weight: 500;
    line-height: 19px;
    color: #030314;
}

.card__head_date {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    color: #5E5D5D;
}

.review__card_text {
    max-width: 264px;
    margin-bottom: 23px;
    font-size: 11px;
    font-style: italic;
    line-height: 16px;
    color: #636363;
}

.review__card_wrapper-stars {
    display: flex;
    column-gap: 3.5px;
}

/*******************************section-subscribe*******************************/
.section-subscribe {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 30px 198px 30px;
    padding: 36px 27px 95px 27px;
    border-radius: 15px;
    background-color: #6C5FBC;
}

.section-subscribe__title {
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 800;
    color: #ffffff;
}

.section-subscribe__form {
    z-index: 10;
}

.section-subscribe__form_email {
    display: flex;
    padding: 7px;
    border-radius: 9.5px;
    background-color: #ffffff;
}

.form__email_input {
    border: none;
    background-color: #ffffff;
}

::placeholder {
    padding-left: 7px;
    font-size: 11px;
    font-weight: 400;
    color: #878787;
    background: #ffffff;
}

.button-email {
    padding: 10px 16px;
    border-radius: 7.5px;
    background-color: #6C5FBC;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #F7F8FA;
}

.button-email:hover {
    cursor: pointer;
    background-color: #524894;
    text-shadow: 1px 0 0 #F9F9F9;
}

.section-subscribe__wrapper {
    position: absolute;
    top: 189px;
    display: flex;
    width: 170px;
    z-index: 10;
}

.section-subscribe__wrapper_image {
    width: 100%;
}

.section-subscribe__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    border-radius: 15px;
    background-color: #00000020;
}



/*******************************@media min-width: 750px*******************************/
@media screen and (min-width: 750px) {

    /***section-about***/
    .section-about {
        flex-direction: row;
        margin-left: 70px;
        margin-right: 70px;
        align-items: center;
        justify-content: space-between;
    }

    .section-about__toppart_title {
        max-width: 100%;
    }

    .button-getstart {
        background-color: #6C5FBC;
    }

    .section-about__lowerpart {
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
    }

    /***section-statistics***/
    .section-statistics {
        flex-direction: row;
        margin-bottom: 74px;
        padding-top: 40px;
        padding-bottom: 40px;
        column-gap: 94px;
    }

    .section-statistics__icon-line1-mob,
    .section-statistics__icon-line2-mob,
    .section-statistics__icon-line3-mob,
    .section-statistics__icon-line4-mob {
        display: none;
    }

    .section-statistics__icon-line1-tbl,
    .section-statistics__icon-line2-tbl,
    .section-statistics__icon-line3-tbl,
    .section-statistics__icon-line4-tbl {
        display: flex;
    }

    .section-statistics__card_title {
        margin-bottom: 7px;
        font-size: 31px;
        line-height: 38px;
    }

    .section-statistics__card_info {
        font-size: 11px;
        line-height: 16px;
    }

    .section-statistics__card_lines::before {
        top: 0;
        left: -47px;
        width: 1px;
        height: 100%;
    }

    .section-statistics__card_lines::after {
        top: 0;
        left: 213px;
        width: 1px;
        height: 100%;
    }
}

/*******************************@media min-width: 1024px*******************************/
@media screen and (min-width: 1024px) {

    /***section-about***/
    .section-about {
        flex-direction: row;
        margin: 0 70px 85px 70px;
        align-items: center;
        justify-content: space-between;
    }

    .section-about__toppart {
        align-items: flex-start;
        padding-top: 28px;
    }

    .section-about__toppart_info {
        margin-bottom: 13px;
    }

    .toppart__info_line {
        width: 39px;
    }

    .toppart__info_line::before {
        background-color: #201F1F20;
    }

    .toppart__info_text {
        font-size: 11px;
        color: #201F1F20;
    }

    .section-about__toppart_title {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 12px;
        white-space: pre;
        font-size: 54px;
        color: #201F1F;
    }

    .toppart__title_visibleword {
        white-space: nowrap;
    }

    .toppart__title_hiddenword {
        display: block;
    }

    .section-about__toppart_text {
        max-width: 355px;
        margin-bottom: 38px;
        text-align: left;
        font-size: 13px;
        line-height: 20px;
    }

    .section-about__toppart_buttons {
        margin-bottom: 24px;
    }

    .button-getstart,
    .button-gopro {
        padding: 12px 21px 12px 21px;
    }

    .trustpilot__leftpart_wrapper .social-icon {
        width: 21px;
        height: 20px;
    }

    .trustpilot__leftpart_title {
        font-size: 18px;
    }

    .toppart__trustpilot_rightpart .social-icon {
        width: 12px;
        height: 11px;
    }

    .section-about__lowerpart_wrapper {
        width: 430px;
        height: 385px;
    }

    .lowerpart__wrapper_icon-lines-head {
        position: absolute;
        top: -19px;
        right: -30px;
    }

    .lowerpart__wrapper_icon-lines-head .social-icon {
        width: 30px;
        height: 19px;
    }

    .lowerpart__wrapper_image {
        width: 306px;
    }

    .wrapper__image_ellipse::before {
        left: 18px;
        width: 300px;
        height: 300px;
    }

    .lowerpart__wrapper_chickenhell {
        width: 234px;
        padding: 2px 12px;
        border-radius: 12px;
    }

    .wrapper__chickenhell_image {
        width: 53px;
    }

    .wrapper__chickenhell_main {
        row-gap: 3px;
    }

    .chickenhell__main_title {
        font-size: 11px;
    }

    .chickenhell__main_text {
        font-size: 7px;
    }

    .chickenhell__time_text {
        font-size: 8px;
    }

    .lowerpart__wrapper_icon-arrow-head {
        top: 70px;
    }

    .lowerpart__wrapper_icon-arrow-head .social-icon {
        width: 72px;
        height: 70px;
    }

    .lowerpart__wrapper_diagram {
        bottom: 13px;
        width: 148px;
        padding: 8px 0;
        border-radius: 12px;
    }

    .wrapper__diagram_period {
        padding: 0 16px;
        margin-bottom: 22px;
        column-gap: 5px;
    }

    .diagram__period_item {
        font-size: 5px;
    }

    .diagram__period_item-active {
        padding: 3px 7px;
        border-radius: 11px;
    }

    .wrapper__diagram_image {
        margin-bottom: 11px;
    }

    .wrapper__diagram_image .social-icon {
        width: 149px;
        height: 71px;
    }

    .diagram__image_lines::before {
        top: 19px;
        height: 36px;
        border-top: 1px solid #6b5fbc10;
        border-bottom: 1px solid #6b5fbc10;
    }

    .diagram__image_lines::after {
        top: 37px;
        border-top: 1px solid #6b5fbc10;
    }

    .wrapper__diagram_type {
        padding: 0 17px;
        column-gap: 16px;
    }

    .diagram__type_item {
        font-size: 5px;
    }

    .diagram__type_item-active {
        padding: 4px 6px;
        border-radius: 12px;
    }

    .lowerpart__wrapper_icon-lines-foot {
        bottom: -18px;
        left: -28px;
    }

    .lowerpart__wrapper_icon-lines-foot .social-icon {
        width: 28px;
        height: 26px;
    }

    /***section-statistics***/
    .container-background {
        max-width: 100%;
    }
}

/*******************************@media min-width: 1440px*******************************/
@media screen and (min-width: 1440px) {

    /***section-about***/
    .section-about {
        margin: 0 96px 120px 96px;
        padding-top: 35px;
    }

    .section-about__toppart {
        padding-top: 39px;
    }

    .section-about__toppart_info {
        margin-bottom: 18px;
    }

    .toppart__info_line {
        width: 54px;
    }

    .toppart__info_text {
        font-size: 15px;
    }

    .section-about__toppart_title {
        margin-bottom: 16px;
        font-size: 55px;
    }

    .section-about__toppart_text {
        max-width: 460px;
        margin-bottom: 53px;
        font-size: 18px;
        line-height: 28px;
    }

    .section-about__toppart_buttons {
        margin-bottom: 33px;
    }

    .button-getstart,
    .button-gopro {
        padding: 18px 30px 18px 30px;
    }

    .toppart__trustpilot_leftpart {
        column-gap: 4px;
    }

    .trustpilot__leftpart_wrapper .social-icon {
        width: 30px;
        height: 28px;
    }

    .trustpilot__leftpart_title {
        font-size: 20px;
    }

    .toppart__trustpilot_rightpart {
        column-gap: 10px;
    }

    .toppart__trustpilot_rightpart .social-icon {
        width: 16px;
        height: 16px;
    }

    .trustpilot__rightpart_title {
        font-size: 16px;
    }

    .section-about__lowerpart_wrapper {
        width: 604px;
        height: 540px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .lowerpart__wrapper_icon-lines-head {
        top: -27px;
        right: -42px;
    }

    .lowerpart__wrapper_icon-lines-head .social-icon {
        width: 42px;
        height: 27px;
    }

    .lowerpart__wrapper_image {
        width: 430px;
    }

    .wrapper__image_ellipse::before {
        top: -11px;
        left: 20px;
        width: 430px;
        height: 430px;
    }

    .lowerpart__wrapper_chickenhell {
        width: 329px;
        padding: 4px 16px;
        border-radius: 16px;
    }

    .wrapper__chickenhell_image {
        width: 74px;
    }

    .wrapper__chickenhell_main {
        row-gap: 4px;
    }

    .chickenhell__main_title {
        font-size: 16px;
    }

    .chickenhell__main_text {
        font-size: 10px;
    }

    .chickenhell__time_text {
        font-size: 11px;
    }

    .lowerpart__wrapper_icon-arrow-head {
        top: 100px;
    }

    .lowerpart__wrapper_icon-arrow-head .social-icon {
        width: 101px;
        height: 98px;
    }

    .lowerpart__wrapper_diagram {
        bottom: 13px;
        width: 208px;
        padding: 12px 0;
        border-radius: 17px;
    }

    .wrapper__diagram_period {
        padding: 0 24px;
        margin-bottom: 31px;
        column-gap: 7px;
    }

    .diagram__period_item {
        font-size: 7px;
    }

    .diagram__period_item-active {
        padding: 4px 11px;
        border-radius: 15px;
    }

    .wrapper__diagram_image {
        margin-bottom: 16px;
    }

    .wrapper__diagram_image .social-icon {
        width: 209px;
        height: 99px;
    }

    .diagram__image_lines::before {
        top: 27px;
        height: 50px;
    }

    .diagram__image_lines::after {
        top: 52px;
    }

    .wrapper__diagram_type {
        padding: 0 29px;
        column-gap: 23px;
    }

    .diagram__type_item {
        font-size: 7px;
    }

    .diagram__type_item-active {
        padding: 5px 8px;
        border-radius: 17px;
    }

    .lowerpart__wrapper_icon-lines-foot {
        bottom: -36px;
        left: -36px;
    }

    .lowerpart__wrapper_icon-lines-foot .social-icon {
        width: 39px;
        height: 36px;
    }

    /***section-statistics***/
    .section-statistics {
        margin-bottom: 103px;
        padding-top: 57px;
        padding-bottom: 54px;
        column-gap: 132px;
    }

    .section-statistics__icon-line1-tbl,
    .section-statistics__icon-line2-tbl,
    .section-statistics__icon-line3-tbl,
    .section-statistics__icon-line4-tbl {
        display: none;
    }

    .section-statistics__icon-line1-lpt,
    .section-statistics__icon-line2-lpt,
    .section-statistics__icon-line3-lpt,
    .section-statistics__icon-line4-lpt {
        display: flex;
    }

    .section-statistics__card_title {
        margin-bottom: 11px;
        font-size: 43px;
        line-height: 54px;
    }

    .section-statistics__card_info {
        font-size: 15px;
        line-height: 22px;
    }

    .section-statistics__card_lines::before {
        top: 0;
        left: -66px;
        width: 1px;
        height: 100%;
    }

    .section-statistics__card_lines::after {
        top: 0;
        left: 291px;
        width: 1px;
        height: 100%;
    }
}