.container-form {
    font-family: 'Cera Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99990;
    background-color: #00000060;
    display: grid;
    align-items: center;
    justify-content: center;
    /*Возможность скролла по оси y (если контент формы не вмещается на экране)*/
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.preloader-form {
    display: none;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    animation-duration: 3s;
    transition-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: form-animation;
}

.preloader-form-circle::after {
    position: absolute;
    top: 0;
    bottom: 4%;
    right: 0;
    left: 0;
    content: " ";
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: #5FE1B3;
    border-bottom-color: #a0efd2;
    border-right-color: #a0efd2;
    border-left-color: #a0efd2;
    animation: rotating 1.1s linear infinite;
    z-index: 100;
}

/*
@keyframes form-animation {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes rotating{
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
*/

.form_registration {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-form.open {
    visibility: visible;
    opacity: 1;
}

.headclose {
    text-align: right;
}

.close-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 13px;
    font-weight: 900;
    color: #46A358;
    margin-top: 8px;
    margin-right: 13px;
    padding: 0;
}

.close-button:hover {
    cursor: pointer;
}

.log_reg {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
}

.but_login {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
}

.log_reg span {
    font-size: 18px;
    font-weight: 250;
    line-height: 16px;
    color: #3D3D3D;
}

.but_register {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #46A358;
}

.but_login:hover,
.but_register:hover {
    cursor: pointer;
}

.text_enter {
    margin-bottom: 14px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
}

.block_inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    row-gap: 10px;
}

.field_inp {
    width: 300px;
    padding: 12px 0 12px 0;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

.relat-field {
    position: relative;
}

.wrapper-hide-icon {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}

.wrapper-nohide-icon {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    border: 1px solid #727272;
    border-radius: 20px;
}

.main-checkbox {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 1;
    opacity: 0;
}

.main-checkbox:checked~.wrapper-hide-icon {
    display: none;
}

.main-checkbox:checked~.wrapper-nohide-icon {
    display: flex;
}

::placeholder {
    padding-left: 14px;
    color: #A5A5A5;
    font-size: 14px;
}

.wrapper-register {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.register {
    padding: 16px 118px 13px 119px;
    border: none;
    border-radius: 5px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.register:hover {
    background-color: #1A712A;
    color: #FBFBFB;
    cursor: pointer;
}

.text_regwith_block {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.text_regwith {
    padding-left: 6px;
    padding-right: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.line-hr {
    position: absolute;
    width: 300px;
    border: 1px solid #EAEAEA;
    top: 8px;
}

.continue {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    row-gap: 10px;
}

.but_cwgoogle,
.but_cwgfacebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #727272;
}

.but_cwgoogle {
    padding: 10px 68px 10px 69px;
    gap: 9px;
}

.but_cwgfacebook {
    padding: 11px 63px 9px 64px;
    gap: 4px;
}

.but_cwgoogle:hover,
.but_cwgfacebook:hover {
    background-color: #EDF6EE;
    color: #000000;
    cursor: pointer;
}

.icons {
    width: 20px;
    height: 20px;
}

.greenform {
    display: flex;
    height: 10px;
    background-color: #46A358;
}

@media (max-width: 530px) {
    .form_registration {
        width: 400px;
    }
}

@media (max-width: 430px) {
    .form_registration {
        width: 320px;
    }
}

@media (max-width: 350px) {
    .form_registration {
        width: 290px;
    }

    .field_inp {
        width: 250px;
    }

    .register {
        width: 250px;
        padding-left: 0;
        padding-right: 0;
    }

    .line-hr {
        width: 250px;
    }


    .but_cwgoogle {
        width: 250px;
        padding-left: 0;
        padding-right: 0;
        gap: 9px;
    }

    .but_cwgfacebook {
        width: 250px;
        padding-left: 0;
        padding-right: 0;
        gap: 4px;
    }
}