@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Hanged Letters";
    src: url("./source/fonts/HangedLetters.ttf") format("truetype");
}

html {
    color-scheme: only light;
    font-family: 'Inter';
}

.container {
    max-width: 1200px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

.section-header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.block-header-navigation {
    display: flex;
    max-width: 100%;
    max-height: 53px;
    margin-top: 30px;
    margin-bottom: 12px;
    justify-content: space-between;
    border-bottom: 0.3px solid #46A35880;
    background-color: rgb(255, 255, 255);
}

.block-header-navigation a {
    text-decoration: none;
}

.block-logo {
    margin-top: 1px;
}

.block-navigation {
    display: flex;
    flex-grow: 1;
    max-width: 351px;
    margin-top: 8px;
    justify-content: space-between;
}

.navigation-menu {
    display: flex;
    flex-grow: 1;
    padding-bottom: 25px;
    justify-content: space-between;
}

.navigation-point {
    display: flex;
    padding-bottom: 42px;
}

.navigation-point a {
    font-size: 16px;
    color: #3D3D3D;
    text-decoration: none;
}

.navigation-point:hover {
    background-color: #d4d4d4;
    border-bottom: 3px solid #000000;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.point-active {
    padding-bottom: 43px;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.button-login {
    display: flex;
    align-items: center;
    padding: 7px 17px;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    gap: 4px;
    padding-left: 17px;
    font-size: 16px;
    font-weight: 500;
}

.button-login:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.block-header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    background-color: #F5F5F580;
}

.block-header-section-content {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    margin-top: 68px;
}

.section-info {
    margin-bottom: 7px;
    margin-left: 43px;
    font-size: 16px;
    color: #3D3D3D;
}

.section-title {
    margin-bottom: 5px;
    margin-left: 40px;
    line-height: 70px;
    font-size: 70px;
    font-weight: 900;
    color: #3D3D3D;
}

.color-planet {
    color: #46A358;
}

.section-text {
    max-width: 557px;
    margin-bottom: 44px;
    margin-left: 43px;
    line-height: 24px;
    color: #727272;
}

/****/
.button-shopnow {
    display: flex;
    width: 140px;
    height: 40px;
    margin-left: 41px;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 11px;
    padding-left: 26px;
}

.button-shopnow:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.image-plant {
    width: 507px;
    height: 450px;
}




.section-page-categories {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    column-gap: 50px;
    background-color: rgb(255, 255, 255);
}

.categories-supersale {
    display: flex;
    flex-direction: column;
}

.categories-block {
    display: flex;
    width: 310px;
    height: 774px;
    background-color: #FBFBFB;
}

.categories-content {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    width: 103px;
    height: 383px;
    background-color: #FBFBFB;
}

.categories-content-title {
    margin-top: 14px;
}

.categories-content-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 7px;
    margin-left: 12px;
    width: 91px;
    height: 360px;
    background-color: #FBFBFB;
}

.categories-content-title a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #3D3D3D;
}

.categories-content-list a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #3D3D3D;
}

.categories-content-title a:hover {
    padding: 2px;
    background-color: #3D3D3D;
    color: #FBFBFB;
}

.categories-content-list a:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
}

.categories-content-list-active a {
    font-weight: 600;
    color: #46A358;
}

.supersale-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 470px;
    background: linear-gradient(180deg, #46A3581A 10%, #46A35808 3%);
}

.supersale-block-title {
    margin-top: 18px;
    font-family: "Hanged Letters";
    font-size: 65px;
    font-weight: 400;
    color: #46A358;
}

.supersale-block-info {
    margin-top: 11px;
    font-size: 23px;
    font-weight: 700;
    color: #3D3D3D;
}

.supersale-image {
    display: flex;
    background-color: #426ea0;
}

.supersale-image img {
    width: 310px;
    height: 358px;
    object-fit: cover;
}



.cards-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.cards-plants-header {
    display: flex;
    width: 838px;
    height: 23px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.cards-plants-header-left {
    display: flex;
}

.list-header-left {
    display: flex;
    column-gap: 40px;
}

.list-header-left-active {
    border-bottom: 2px solid #46A358;
}

.list-header-left a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #3D3D3D;
}

.list-header-left-active a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #46A358;
}

.list-header-left a:hover {
    padding: 2px;
    background-color: #3D3D3D;
    color: #FBFBFB;
}

.cards-plants-header-right {
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #3D3D3D;
}

.pointer:hover {
    cursor: pointer;
}

.cards-plants-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 840px;
    height: 1190px;
    margin-top: 31px;
    column-gap: 33px;
    row-gap: 70px;
}

.cards-plants-main a {
    text-decoration: none;
}

.card-plant {
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 350px;
    align-items: center;
    background-color: #FBFBFB;
}

.wrapper-card-plant {
    display: flex;
    width: 250px;
    height: 250px;
    margin-top: 31px;
}

.card-plant-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.card-plant-title {
    display: flex;
    width: 258px;
    margin-top: 31px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;
    background-color: #FBFBFB;
}

.card-plant-info {
    display: flex;
    width: 258px;
    margin-top: 6px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #46A358;
}

.numeration-block-rigrhtpos {
    margin-left: auto
}

.numeration-block {
    display: flex;
    justify-content: space-between;
    width: 215px;
    height: 35px;
    margin-top: 90px;
}

.button-num {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300;
    color: #3D3D3D;
}

.active-but {
    background-color: #46A358;
    color: #ffffff;
}

.button-num:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.section-page-blogposts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 68px;
}

.head-section-page-blogposts {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.card-page-blogposts {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.photo-card-page {
    max-width: 287px;
}

.info-card-page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 89px;
    padding-right: 30px;
    background-color: #FBFBFB;

}

.title-card-page {
    max-width: 165px;
    margin-bottom: 9px;
    text-align: end;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #3D3D3D;
}

.text-card-page {
    max-width: 292px;
    margin-bottom: 25px;
    text-align: end;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
}

.button-findmore {
    display: flex;
    align-items: center;
    padding: 11px 27px 10px 28px;
    gap: 4px;
    border: none;
    border-radius: 6px;
    background-color: #46A358;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

.button-findmore:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.foot-section-page-blogposts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 138px;
    align-items: center;
}

.title-foot-section {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #3D3D3D;
}

.text-foot-section {
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}

.all-cards-foot {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    gap: 40px;
}

.card-foot-section {
    display: flex;
    flex-direction: column;
    max-width: 268px;
    align-items: center;
    background-color: #FBFBFB;
}

.image-card-foot {
    max-width: 100%;
    max-height: 195px;
    margin-bottom: 9px;
}

.info-card-foot {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 12px;
}

.date-foot-section {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #46A358;
}

.titlecard-foot-section {
    max-width: 189px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #3D3D3D;
}

.textcard-foot-section {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
}

.button-readmore {
    display: flex;
    max-width: 100px;
    padding: 0;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #3D3D3D;
}

.button-readmore:hover {
    color: #46A358;
    cursor: pointer;
}