html {
    color-scheme: only light;
    font-family: 'Cera Pro', sans-serif;
}

.form_registration {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 656px;
    align-items: center;
    background-color: rgba(232, 226, 226, 1);
    margin-right: auto;
    margin-left: auto;
}

.headclose {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.close-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 13px;
    font-weight: 900;
    color: #46A358;
    margin-top: 13px;
    margin-right: 13px;
    padding: 0;
}

.close-button:hover {
    cursor: pointer;
}

.log_reg {
    display: flex;
    justify-content: space-between;
    width: 157px;
    height: 16px;
    margin-top: 21px;
    align-items: center;
}

.but_login {
    display: flex;
    width: 52px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #3D3D3D;
    padding: 0;
}

.log_reg span {
    font-size: 18px;
    font-weight: 250;
    color: #3D3D3D;
}

.but_register {
    display: flex;
    width: 78px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #46A358;
    padding: 0;
}

.but_login:hover,
.but_register:hover {
    cursor: pointer;
}

.text_enter {
    width: 300px;
    height: 16px;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
}

.block_inp {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 16px;
}

.field_inp {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding: 0;
}

::placeholder {
    padding-left: 14px;
    color: #A5A5A5;
    font-size: 14px;
}

.register {
    margin-top: 41px;
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}

.register:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.text_regwith_block {
    display: flex;
    position: relative;
}

.text_regwith {
    text-align: center;
    width: 300px;
    height: 16px;
    margin-top: 36px;
    color: #3D3D3D;
    z-index: 2;
}

.text_regwith_line {
    display: flex;
    position: absolute;
    background-position: 50% 50%;
    width: 300px;
    padding-bottom: 45px;
    border-bottom: 1px solid #EAEAEA;
    z-index: 1;
}

.continue {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    gap: 15px;
}

.but_cwgoogle,
.but_cwgfacebook {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    align-items: center;
    background-color: #FFFFFF;
    color: #727272;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
}

.but_cwgoogle {
    gap: 9px;
}

.but_cwgfacebook {
    gap: 4px;
}

.but_cwgoogle:hover,
.but_cwgfacebook:hover {
    background-color: #3D3D3D;
    color: #FBFBFB;
    cursor: pointer;
}

.icons {
    width: 20px;
    height: 20px;
}

.greenform {
    width: 500px;
    height: 10px;
    margin-top: 35px;
    background-color: #46A358;
}